<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:option="http://www.w3.org/1999/xhtml">

<head>
    <title>Wybierz dane</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <form action="/csv" method="post" >

        <h3>Ulica</h3>
        <select name="street" size="1">
            <option  th:each="columnName : ${columnNames}" th:text="${columnName}"><Oni></Oni></option>
        </select>
        <h3>Numer budynku</h3>
        <p>Jeli numer budynku zawarty w ulicy, prosze wybrac te sama kolumne</p>
        <select name="houseNumber" size="1">
            <option  th:each="columnName : ${columnNames}" th:text="${columnName}"></option>
        </select>

        <input class="form-control"
               type="text"
               th:value="${fileName}" id="clientName" name="filename"   style="display: none" />


        <input type="submit" value="Rozpocznij geodekodowanie" name="submit"/>
    </form>
</body>

</html>




